<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">

{% block heads_block %}{% endblock %}

<title>{% block titleBlock %}{% endblock %}</title>

<link rel="icon" type="image/x-icon" href="../static/picture/logo.ico">
<style>
.PK{position: fixed;top: 96%;left: 96%;color: white;}
canvas{position:absolute;  top:0;  left:0;  background-color:black;  z-index: -1;}
.login_status{width: 1100px;margin: 0 auto;color: white}
.login_status a{color: white;text-decoration: none}
.login_r{float: right; }
</style>

{% block CSS_Block %}
{% endblock %}

<script src="../static/js/jquery-1.7.2.min.js"></script>
<script src="../static/js/background_animate.js"></script>

{% block JS_Block %}
{% endblock %}

</head>
<body>
<div class="login_status">
    hello! happy days.
    <div class="login_r"><a href="/login">登陆/注册</a></div>
</div>
{% block Body_Block %}
{% endblock %}

<div class='PK'>PK.</div>
    <!-- 背景动画块 -->
<canvas id=c></canvas>
</body>
</html>
