<!DOCTYPE html>
<html lang="en" >

<head>
<meta charset="UTF-8">
<title>PK Nothing is Impossible！</title>
<link rel="icon" type="image/x-icon" href="../static/picture/logo.ico">
<link rel="stylesheet" href="../static/css/index_background_move.css">
<script  src="../static/js/index_backgroud_animate.js"></script>
<style>
   
div{margin: 0 auto;z-index: 999;position: absolute;top:50%;left: 45%;}
div a{color: white;text-decoration: none}

</style>
</head>
<body>
<div><h1><a href="/pytalk">Welcome to PKworld</a></h1> </div>
</body>
</html>
