{% extends 'base.html' %}
{% block heads_block %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% endblock %}
{% block titleBlock %}
   PK Chat
{% endblock %}
{% block CSS_Block %}
   <link rel="stylesheet" href="../static/css/pytalk.css">
{% endblock %}
{% block JS_Block %}
    <script src="../static/js/pytalk_chat.js"></script>
    <script src="../static/js/pytalk_updown.js"></script>
    <script src="../static/js/pytalk_link.js"></script>
{% endblock %}
{% block  Body_Block %}
       <div class="first_line">
    <div class="logo_head">
        <!-- logo  -->
        <h1>不忘初心，砥砺前行！</h1>
    </div>
    </div>

    <div class="second_line">
         <div class="talk_body"><!-- 聊天主行 -->
            <div class="file_download" id="download_box"><!-- 文件主题界面 -->
                <div class="update_box"><!-- 上传隐藏栏 -->
                    <form action=""><input type="file"  id="up_file"></form>
                         <br>&#12288;&#12288;&#12288;&#12288;&#12288;&#12288;
                         <button id="up_bt">上传</button>&#12288;<button id="up_out">取消</button>

                </div>
                <ul id="all_file_list">
                    <li>
                        <div class="level1"><span>知识文件</span>
                            <div id="st_file_start_edit"><button title="文件编辑" id="st_up" class="link_edit_button">+</button></div>
                            <div id="st_file_edit_div" style="display:none"><button id="st_file_out_edit_button" title="取消">取消</button><button id="file_openadd_st_box_button" title="上传">上传</button></div>
                        </div>
                        <ul class="s_list" id="st_list">

                        </ul>
                    </li>
                    <li>
                         <div class="level1"><span>其他文件</span>
                            <div id="ot_file_start_edit"><button title="文件编辑" id="ot_up" class="link_edit_button">+</button></div>
                            <div id="ot_file_edit_div" style="display:none"><button id="ot_file_out_edit_button" title="取消">取消</button><button id="file_openadd_ot_box_button" title="上传">上传</button></div>
                         </div>
                            <ul class="s_list" id="oth_list">
                         </ul>
                     </li>
                </ul>
            </div>
            <div class="talk_box"><!-- 聊天主框 -->
                <div class="talk_contant" id="talk_con"><!-- 聊天内容界面 -->
                    <div class="history" id="history"><span  >—— —— 查看历史记录 —— ——</span></div>
                    <!-- <div class="atalk"><span>A说： 吃饭了吗？</span><p> 2018/12/9 14:21</p></div>
                    <div class="btalk"><span>B说：还没呢，你呢？</span><p> 2018/12/9 14:21</p></div> -->

                </div>
                <div class="function_area"><!-- id功能区 -->
                    你的昵称：
                    <input type="text" id="id_name">
                </div>
                <div class="talk_input_contant" ><!-- 聊天输入框区 -->
                    <textarea name="" id="send_data" cols="30" rows="10"></textarea>
                    <button id="send_bt">发&emsp;送</button>

                </div>
            </div>
            <div class="link_box"> <!-- 链接地址 -->
                <div class="link_add_box" style="display:none"><!-- 隐藏新增块 -->
                    <div class="link_input_div"><span>请输入链接名称：</span><input id="link_name" type="text"></div>
                    <div class="link_input_div"><span>请输入链接地址：</span><input id="link_url" type="text"></div>
                    <div class="link_input_button_div"><button id="add_link"></button><button id="close_linkaddbox">取消</button></div>
                </div>
                <div class="button_div">
                    <div id="link_add_div" style="display:none"><button id="link_closeaddbox_button" title="取消">取消</button><button id="link_openaddbox_button" title="新增">新增</button></div>
                    <div id="link_edit_div"><button id="link_edit_button" class="link_edit_button" title="编辑">＋</button></div>
                </div>
                <ul class="link_list">

                </ul>

            </div>
        </div>
    </div>
{% endblock %}
