/* .first_line{} */
.logo_head{height: 100px;width: 1000px; margin: 0 auto;padding-top: 30px;}
h1{color: red}

/* .second_line{} */
.update_box{width: 220px;height: 65px;padding: 20px; position: absolute;background-color: rgba(255, 51, 204, 0.2);display: none;}
.talk_body{width: 1100px;height: 460px;margin: 0 auto;}
.file_download{width: 200px;height: 460px;box-sizing: border-box;margin: 0 10px 0 0;padding: 10px;  background-color:rgba(225,0,225, 0.2);float: left;position: relative;}
.file_download button{background: none; border: none; float: right; color:white; padding-right: 0px;}
.file_download ul{list-style: none;margin: 0;padding: 0;}
.file_download a{text-decoration: none;color: white}
.file_download img{height: 13px; width: 13px; float: right; margin: 2px 0 0 5px;}
.s_list{background-color:rgba(225, 0, 225, 0.2);display: none;}
.level1{color: #999999;cursor:pointer;width: 180px;height: 30px;background-color: rgba(225, 0, 225, 0.2);}
.level1 div{height: 22px; float: right;padding-top: 2px;}

.talk_box{width: 580px;height: 440px;background-color: rgba(225, 0, 225, 0.2);float: left;padding: 10px;}
.talk_contant{width: 570px;height: 290px;background-color: rgba(225, 0, 225, 0);border: 5px solid #666666;overflow: auto;}
.history{margin: 0 auto;text-align: center;}
.history span{color: #666666;font-size: 10px;cursor:pointer;}

.atalk{
   margin:10px;
}
.atalk .username{font-size: 7px;margin: 0;padding: 0;background-color:rgba(225, 0, 225, 0);color: #b4b4b4}
.atalk span{
    display:inline-block;
    background:#6699cc;
    border-radius:10px;
    color:#fff;
    padding:5px 10px;}
.atalk p,.btalk p{margin:0;padding: 0;font-size: 5px;color: rgb(182, 180, 180);}
.btalk{
    margin:10px;
    text-align:right;}
.btalk span{
    display:inline-block;
    background:#ffff66;
    border-radius:10px;
    color:#333333;
    padding:5px 10px;
}
.function_area{color: #fff;font-weight: bold;}
.function_area input{background-color: rgba(255, 51, 204, 0);border: #555454 3px solid;color: gold;height: 18px;}

.talk_input_contant{width: 580px;height: 115px;box-sizing: border-box; background-color: rgba(255, 51, 204, 0);border: 5px solid #666666}
.talk_input_contant textarea{width: 407px;height: 100px;border: 0; background-color: rgba(225, 0, 225, 0); color: #fff; float: left;outline: none;resize: none;margin: 0;}
.talk_input_contant button{width: 159px;height: 106px;float: left;margin: 0;background-color: rgba(225, 0, 225, 0.5);font-size: 16px;border: 0;color: #CCCCFF;}

.link_box{width: 220px;height: 460px;margin: 0 0 0 10px; background-color: rgba(255, 51, 204, 0.2);float: left;}
.link_list{padding: 0;margin: 5px 16px 0 16px;}
.link_list li{list-style: none;}
.link_list a{text-decoration: none;color: #666666;}
.link_list img{height: 13px; width: 13px; float: right; margin: 2px 0 0 5px;}
.button_div {margin:10px 16px 0 0; height: 22px;}
.button_div button{background: none; border: none; float: right; color:white;padding-right: 0px;}
.link_edit_button{ font-weight:bold; font-size: 20px; width: 20px; height: 20px; }
.link_edit_img{display: none;}
.link_add_box{width: 390px; height: 140px; padding-top: 10px; position: absolute; background-color: rgba(255, 51, 204, 0.4); right: 150px;}
.link_add_box span{color: white;}
.link_input_div{margin: 15px 0 10px 35px;}
.link_input_button_div{margin: 20px 0 0 240px;}
.link_input_button_div button{margin-left: 5px;}